<div class="user-bar">
  <a href="#" class="user-name">Tom</a>
  <a href="#" class="create-button">チャットを作成する</a>
</div>
<div class="room-bar">
  <div class="room">
    <a href="#" class="room-name">techroom1</a>
  </div>
  <div class="room">
    <a href="#" class="room-name">techroom2</a>
  </div>
</div>
